# {{ ansible_managed }}
# ansibleguy.linux_networking

[Unit]
Description=Service to verify new network configuration and apply it
Documentation=https://github.com/ansibleguy/linux_networking

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 {{ network_script_dir }}/{{ network_verification_script }}
StandardOutput=journal
StandardError=journal
SyslogIdentifier={{ network_verification.syslog_id }}

Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
