[Unit]
Description=Service to add custom interfaces and system routes on startup
Documentation=https://github.com/ansibleguy/linux_networking
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash {{ network_script_dir }}/{{ startup_script }}
StandardOutput=journal
StandardError=journal
SyslogIdentifier={{ startup_syslog_id }}
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
