# {{ ansible_managed }}
# ansibleguy.linux_networking

[Unit]
Description=Service to add custom interfaces and system routes on startup
Documentation=https://github.com/ansibleguy/linux_networking
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash {{ NW_HC.network_script_dir }}/{{ startup_script }}
{% if ansible_distribution_version == '10' %}
StandardOutput=syslog
StandardError=syslog
{% else %}
StandardOutput=journal
StandardError=journal
{% endif %}
SyslogIdentifier={{ startup_syslog_id }}
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
